*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
   padding: 10px;
}
.container{
    height: 70%;
    width: 100%;
    border-radius: 50px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 20px;

    background-color: burlywood;
}
img{
    height: 200px;
    width: 200px;
    padding: 20px;
}
button{
    height: 40px;
    width: 150px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}
#parent{
    height: 50%;
    width: 100%;
    display: flex;
    background-color: bisque;
    overflow: auto;
    flex-wrap: wrap;
}
input{
    padding: 5px;
    margin: 10px;
    height: 50px;
    width: 200px;
    outline: none;
    display: block;
    font-size: 20px;

}
#gallery{
    height: 70%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(182, 149, 149);
}