*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-image: url('https://wallpapers.com/images/hd/avengers-doomsday-logo-reveal-ho4k22ggffspbjrt.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    height: 75%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

}
#clock-container{
    height: 30%;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    /* position: relative; */
}
#clock-container img{
    height: 100%;
    filter: invert(1);
    object-fit: cover;
    object-position: center;
}
.hands{
    height: 2%;
    width: 50%;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center left;
    transform: translateY(-50%) rotate(-90deg);
}

#minHand{
    background-color: red;
    width: 40%;
    z-index: 3;
}
#hourHand{
    background-color: gold;
    width: 30%;
    z-index: 4;
}
h2{
    font-size: 2rem;
}
span{
    transition: all 1s linear;
}